@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1></h1>
    <p class="lead">1 Registro</p>
    <p><a href="@Url.Action("Create","Person")" class="btn btn-primary btn-lg">Registrar persona</a></p>
    <p class="lead">2 Consulta</p>
    <p><a href="@Url.Action("Grid","Vendedores")" class="btn btn-primary btn-lg">Consulta Vendedores</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        
    </div>
</div>